table {
    font-family: 'Roboto Condensed', Courier, monospace;
    font-size: 25px; 
    border-collapse: collapse;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: rgb(85, 150, 230);
}

th, td {
    padding: 15px 200px 15px 40px;
    text-align: left;
    border: 2px solid grey;
}

th {
    background-color: black;
    color: rgb(177, 174, 174);
    height: 55px;
    font-weight: 100;
    font-size: 30px;
}

td {
    color:rgb(107, 106, 106)
}

tbody tr:nth-child(odd) {
    background-color: rgb(235, 231, 231);
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.rounded-corners thead tr:first-child th:first-child {
    border-top-left-radius: 5px;
    border-left: none;
    border-top: none;
}

.rounded-corners thead tr:first-child th:last-child {
    border-top-right-radius: 5px;
    border-right: none;
    border-top: none;
}

.rounded-corners tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
    border-left: none;
    border-bottom: none;
}

.rounded-corners tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
    border-right: none;
    border-bottom: none;
}

.rounded-corners tbody tr td:last-child {
    border-right: none;
}

.rounded-corners tbody tr td:first-child {
    border-left: none;
}



