body {
    font-family: Arial;
    background: navajowhite;
    width:70%;
    margin: 50px auto;
}

.top-nav  {
    color: steelblue;
    font-size: 50px;
    border-bottom: 3px solid steelblue;
    padding-bottom: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.top-nav a {
    text-decoration: none;
    color: steelblue;
    font-weight: bold;
}

h2 {
    background: navajowhite;
    font-size: 40px;
}

.naviButtons1, .search form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.search label {
    font-size: 20px;
    color: darkred;
}

.search form {
    margin: 0px;
    align-items: center;
}

.search input {
    width: 80%;
    height: 40px;
    font-size: 30px;
    color: darkred;
    padding: 5px 30px;
    border-radius: 5px;
    background: antiquewhite;
    border: 2px solid grey;
}

.search input:focus {
    outline: none;
    border: 2px solid darkred;

}

.filter-by-price form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.filter-by-price form input{
    background: darkred;
    color: antiquewhite;
    font-size: 20px;
    padding: 20px 10px;
    margin: 5px 0px 0px 5px;
    border: none;
    border-radius: 5px;
    align-self: end;
    vertical-align: center;
}

.filter-by-price label {
    color: darkred;
    padding: 0px 0px 10px 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.filter-by-price input.price {
    width: 350px;
    background: antiquewhite;
    border: 2px solid grey;
    font-size: 40px;
    padding: 8px 20px 8px 0px;
    text-align: right;
    color: darkred;
    -webkit-appearance: none;
}
.filter-by-price input.price:focus {
    outline: none;
    border: 2px solid darkred;
    border-radius: 10px;
}

.naviButtons1 a {
    background: darkred;
    padding: 10px 10px;
    margin: 5px;
    color: antiquewhite;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    width: 20%;
}

button {
    background: darkred;
    padding: 10px 10px;
    margin: 5px;
    color: antiquewhite;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    width: 120px;
    font-size: 25px;
    border: none;
    padding: 12px 5px;
}

.table {
    margin: 25px auto;
    background: blanchedalmond;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

td {
    padding: 10px 0px;
    color: steelblue;
}

td.row3, td.row4 {
    text-align:center;
}

.table thead th {
    background: steelblue;
    border-radius: 5px;
    color: antiquewhite;
}

.table thead th.row1 {
    width:20%;
}
.table thead th.row2 {
    width:35%;
}
.table thead th.row3 {
    width:20%;
}
.table thead th.row4 {
    width:10%;
}

td:first-child {
    padding-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


