<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
    <div th:insert="fragments/header :: header"></div>

    <div>
        <img src="images/greenfox.png">
    </div>



    <p th:object="${fox}" th:text="'This is ' + *{name} + '. Currently living on ' + *{food.getName()} +
                ' and ' + *{drink.getName()} + '. He knows ' + *{tricks.size()} +' tricks.'"></p>

    <div >
        <h2>Known tricks</h2>
        <p th:if="${fox.tricks.isEmpty()}"  th:text="'You know no trick. Go and learn some.'"></p>
        <ul th:object="${fox}">
            <li th:each="trick : ${fox.tricks}" th:text="${trick.trickEnum.getName()}"></li>
        </ul>
    </div>

    <h2>Action History</h2>

    <ul>
        <li th:unless="${historyShort.isEmpty()}" th:each="action : ${historyShort}" th:text="${action.getDate()} + ' - ' +${action.getDescription()}"></li>
        <li th:if="${historyShort.isEmpty()}" th:text="'No actions have been performed yet.'"></li>
    </ul>

</body>
</html>