<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
    <div th:insert="fragments/header :: header"></div>

    <div>
        <img src="images/greenfox.png">
    </div>



    <p th:object="${fox}" th:text="'This is ' + *{name} + '. Currently living on FOOD and DRINK. He knows NUMBER tricks.'"></p>

<!--    <div th:if="${name.equals('present')}">-->
<!--        <h2>Known tricks</h2>-->
<!--        <p th:if="${fox.tricks.isEmpty()}"  th:text="'You know no trick. Go and learn some.'"></p>-->
<!--        <ul th:object="${fox}">-->
<!--            <li th:each="i : ${fox.getTricks()}" th:text="${i.getName()}"></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <h2>Action History</h2>-->

<!--    <ul>-->
<!--        <li th:unless="${historyShort.isEmpty()}" th:each="i : ${historyShort}" th:text="${i}"></li>-->
<!--        <li th:if="${historyShort.isEmpty()}" th:text="'No actions have been performed yet.'"></li>-->
<!--    </ul>-->

</body>
</html>