<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>

    <div th:insert="fragments/header :: header"></div>
    <br>
    <br>

    <p th:if="${trickList.isEmpty()}" th:text="'Nothing to learn. You have already learnt everything'"></p>

<!--    <form th:unless="${trickList.isEmpty()}" th:action="@{/trickCenter}" method="post">-->
    <form th:unless="${trickList.isEmpty()}" th:action="@{'/trickCenter/' + ${userName}}" method="post">
        <label for="trick">Tricks</label>
        <select type="text" id="trick" name="trick">
            <option th:each="trick : ${trickList}" th:value="${trick}" th:text="${trick.getName()}"></option>
        </select>
        <button type="submit">Learn</button>
    </form>

</body>
</html>