<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>

    <ul>
        <li><a th:href="@{/(name=${fox.getName()})}">Information</a></li>
        <li><a th:href="@{/nutritionStore(name=${fox.getName()})}">Nutrition Store</a></li>
        <li><a th:href="@{/trickCenter(name=${fox.getName()})}">Trick Center</a></li>
        <li><a href="">Action History</a></li>
    </ul>

    <p th:if="${trickList.isEmpty()}" th:text="'Nothing to learn. You have already learnt everything'"></p>

    <form th:unless="${trickList.isEmpty()}" th:action="@{/trickCenter}" method="post">
        <label for="trick">Tricks</label>
        <select type="text" id="trick" name="trick">
            <option th:each="i : ${trickList}" th:value="${i}" th:text="${i.getName()}"></option>
        </select>
        <input type="hidden" th:name="name" th:value="${fox.getName()}"/>
        <button type="submit">Learn</button>
    </form>

</body>
</html>