{% extends "meal/base.html" %}
{% block content%}
    <h3><a href="/meal">All Meals</a></h3>
    {% if class_view %}
        <h3>Class Based View</h3>
    {% elif function_view %}
        <h3>Function Based View</h3>
    {% endif %}

    {% if function_view %}
        <p><a href="/meal/class-view">switch to class based view</a></p>
    {% elif class_view %}
        <p><a href="/meal">swith to function based view</a></p>
    {% endif %}

        <table>
                <tr>
                    <th>Meal name</th>
                    <th>Meal calories</th>
                    <th>date</th>
                </tr>
                {% for meal in meals %}
                <tr>
                    <td><a href="/meal/update/{{ meal.id }}">{{ meal.name }}</a></td>
                    <td>{{ meal.calories }}</td>
                    <td><a href="/meal/calories-per-day/?day={{ meal.date }}">{{ meal.date }}</a></td>
                    <td><a href="/meal/delete/{{ meal.id }}">delete</td>
                </tr>
                {% endfor %}
        </table>

        <h3><a href="/meal/create">Add meal</a></h3>

        {% comment %} {% if sum_calories%}
        <h2>
            Sum Calories for day > 

        </h2> {% endcomment %}
{% comment %}     
        {% endif %} {% endcomment %}
        {% comment %} <h3><a href="/meal/create">Add meal</a></h3> {% endcomment %}



{% endblock content %}