<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Add New Todo</title>
</head>
<body>
    <h1>Add New Todo</h1>

    <form th:action="@{/todo/add}" th:method="post">
        <p>
            <label for="title">Title</label>
            <input type="text"  id="title"  name="title" required autofocus placeholder="...title">
        </p>
        <p>
            <label for="description">Title</label>
            <input type="text"  id="description"  name="description" required autofocus placeholder="...description">
        </p>
        <p>
            <label for="dueDate">Due Date</label>
            <input type="date"  id="dueDate"  name="dueDate" required autofocus placeholder="...description">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>

</body>
</html>