<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Add New Todo</title>
</head>
<body>
    <h1>Edit Todo</h1>

    <form th:action="@{'/todo/{id}/edit' (id=*{id})}" th:method="post" th:object="${todo}">
        <label for="title">ToDo Description</label>
        <input type="text"  id="title"  name="title" th:value="*{title}" >
        <br>
        <label for="assignee">Assignee</label>
        <select type="text"  id="assignee"  name="assigneeId">
                <option th:each="assignee : ${assignees}" th:value="${assignee.id}" th:text="${assignee}"></option>
            </select>
        <br>
        <br>
        <label for="urgent">Urgent</label>
        <input type="checkbox" id="urgent" name="urgent" th:checked="*{urgent}">
        <br>
        <label for="done">Done</label>
        <input type="checkbox" id="done" name="done" th:checked="*{done}">
        <br>
        <button type="submit">Submit</button>
        <a th:href="@{/todo/list}">Cancel</a>
    </form>

</body>
</html>