<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>ToDo List</title>

</head>
<body>
    <h1>Todos for today:</h1>

    <p>
        <a th:href="@{/assignee}">List of Assignees</a>
    </p>

    <p>
        <form th:action="@{/todo/search}" method="post">
            <label></label>
            <input type="text" id="search" name="search" placeholder="*** all ***">
            <button type="submit">Search text in Title or Description</button>
        </form>
    </p>
    <p>
    <form th:action="@{/todo/searchByDueDate}" method="post">
        <label></label>
        <input type="date" id="dueDate" name="dueDate">
        <button type="submit">Search by due Date</button>
    </form>
    </p>
    <p>
    <form th:action="@{/todo/searchByCreationDate}" method="post">
        <label></label>
        <input type="date" id="creationDate" name="creationDate">
        <button type="submit">Search by creation Date</button>
    </form>
    </p>

    <p>
    <form th:action="@{/todo/searchByAssignee}" method="post" >
        <label></label>
        <select type="text"  id="assignee"  name="assigneeId">
            <option th:each="assignee : ${assignees}" th:object="${assignees}" th:value="${assignee.id}" th:text="${assignee}"></option>
        </select>
        <button type="submit">Search by Assignee</button>
    </form>
    </p>

    <p>
        <a th:href="@{/todo/add}" th:text="'Add new Todo'"></a>
    </p>

    <table th:object="${todos}">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>ASSIGNEE</th>
                <th>CREATION DATE</th>
                <th>DUE DATE</th>
                <th>URGENT</th>
                <th>DONE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}" th:object="${todo}" >
                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{description}"></td>
                <td>
                    <a th:href="@{'/assignee/{id}/todos2' (id=*{id})}" th:text="${todo.getAssignee()}" ></a>
                </td>
                <td th:text="*{creationDate}"></td>
                <td th:text="*{dueDate}"></td>
                <td th:text="*{urgent}"></td>
                <td th:text="*{done}"></td>
                <td><a th:href="@{'/todo/{id}/delete' (id=*{id})}">delete</a></td>
                <td><a th:href="@{'/todo/{id}/edit' (id=*{id})}">edit</a></td>
            </tr>

        </tbody>

    </table>

</body>
</html>